@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
